{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Events-->
<div class="container justify-content-center">
    <h2 class="text-center">{{event.title }}</h2>
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row g-0">
            <div class="col-md-6 d-none d-md-block">
            <img src="/assets/images/woman.jpg" class="img-fluid rounded-start" alt="woman in christmas" style="width: 200px; height: 200px; object-fit: cover;">
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <p class="card-text">{{ event.category }}</p>
                    <p class="card-text"> Some Dublin Bar</p>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card-body">
                <p class="card-text ">Jan 6th - 21:00</p>
                <p class="card-text">{{ event.user }}</p>
            </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">Description</h5>
                  <p class="card-text">{{ event.description }}</p>
                </div>
            </div>
            <div class="col-md-4">
            <div class="card-body">
            <p class="card-text">People: 0/{{ event.people }}</p>
            <p class="card-text">
                Online - {% if event.online %}Yes{% else %}No{% endif %}
            </p>
            </div>
          </div>
          <div class="col-md-2 d-flex align-items-center">
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg align-center">Join</button>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}